*.pdb
*.txt
*.log
*.sdf
*.csv
*.out
*.png
*.err
*.pse
*.json
*.zip
*.smi
*.xlsx

*run_gnina.sh
*run_pharmit_search.sh
*create_db.sh
*run_gypsum.sh
028-pharms-top-div-set/analysis/get_pharms.slurm
032-create-pharm-db/data/*
066-pharm-search-exp-set/analysis/pharm_search.slurm
002-testing/6-29-db-test/test1/DB
063-pharms-exp-set/analysis/get_pharms.slurm
065-stats-top-sim-set/analysis/AqSolPred-web-main
071-stats-top-sim-set/analysis/AqSolPred-web-main