*.pdb
*.txt
*.log
*.sdf
*.csv
*.out
*.png
*.err
*.pse
*.json
*.zip
*.smi
*.xlsx
*.cif

*run_gnina.sh
*run_pharmit_search.sh
*create_db.sh
*run_gypsum.sh
*pharms-top-div-set/analysis/get_pharms.slurm
*testing/6-29-db-test/test1/DB
*pharms-exp-set/analysis/get_pharms.slurm
*stats-top-sim-set/analysis/AqSolPred-web-main